* {
    margin: 0;
    padding: 0;
    /*On retire les margins/padding par défaut*/
    box-sizing: border-box;
    /*inclure le padding et le margin dans la taille des éléments*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        /*On met la police*/
}

body {
    font-family: sans-serif;
    /*On met la police*/
    background-color: white;
    /*couleur de fond*/
}

.intro {
    height: 100vh;
    /*hauteur de la classe "intro"*/
}

.intro video {
    height: 100%;
    width: 100%;
    /*dimensions de la vidéo d'intro*/
    object-fit: cover;
    /*gestion du remplissage*/
}

.intro h1 {
    position: absolute;
    /*Définition du système de positionnement*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*On centre*/
    font-size: 30vh;
    /*Taille de la police*/
    color: rgb(255, 255, 255);
    /*Couleur de la police*/
}

.coucou {
    display: block;
    /*Pour afficher*/
}

a {
    display: none;
    /*On cache le lien*/
}

.sticky {
    position: fixed;
    top: 0;
    /*Position du lien*/
    width: 100%;
    /*Largeur*/
    display: inline;
    /*On l'affiche à nouveau*/
    padding: 1vh 0 1vh 0;
    /*Padding*/
    background-color: crimson;
    /*Couleur de fond*/
    color: white;
    /*Couleur du texte*/
    text-align: center;
    /*On centre le texte*/
}

.bouton2 {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    margin-top: 2%;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid crimson;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.bouton2:hover {
    background-color: crimson;
    color: white;
}

.box {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 40px;
    width: 95%;
    flex: 0.5;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Ajout de la balise flex pour bouger les boites */
.align-box {
    display: flex;
}

section h1 {
    padding-top: 300px;
    /*Padding pour le titre*/
    text-align: center;
    /*On le centre*/
    font-size: 80px;
    /*Définition de la taille de la police*/
    color: black;
    /*Couleur*/
}

section {
    background-color: rgb(255, 255, 255);
    /*sa couleur*/
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    /*Un clip-path pour le style*/
}

.coucou {
    display: block;
    /*Pour afficher*/
}

aside p {
    display: none;
    /*On cache le texte par défaut*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    /*Position*/
    width: 50vw;
    height: 50vh;
    padding: 5vh;
    /*Dimensions*/
    background-color: white;
    /*Fond*/
    border-radius: 20px;
    /*Petit arrondi*/
    border: 2px solid black;
    /*Bordure*/
}

.motherboard {
    display: block;
    /*Pour afficher*/
}

.box2 {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    margin-right: 2%;
    margin-bottom: 40px;
    width: 40%;
    background-color: white;
    flex: 0.5;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
}

.align-box {
    display: flex;
}

h2 {
    text-align: center;
    /*centrer*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }